회귀분석

In [27]:
import pandas as pd

In [28]:
data = pd.read_csv("dataset/iris.data", header=None)
df = pd.DataFrame(data)

In [29]:
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [30]:
df.columns =['sepal length', 
            'sepal width',
            'petal length',
            'petal width',
            'Class']

In [31]:
df

     sepal length  sepal width  petal length  petal width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [32]:
df.isna().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
Class           0
dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
df = df.drop(['Class'], axis=1)

#petal width 예측

x = df.drop(['petal width'], axis=1)
y = df['petal width']

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)

In [34]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((112, 3), (38, 3), (112,), (38,))

In [35]:
# 선형회기
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()     # scikit learn LinearRegression 개체 생성
regressor.fit(x, y) 

y_pred = regressor.predict(x_test)
y_pred

array([1.58181195, 0.31643316, 2.35701638, 1.52049917, 1.48723084,
       0.18278604, 1.13112834, 1.69266333, 1.31830086, 1.20114509,
       1.79964958, 0.16482913, 0.07941899, 0.21928854, 0.33737832,
       1.65414629, 2.12215586, 1.19744391, 1.56070285, 1.99220992,
       0.33682934, 1.73278503, 0.31950339, 1.99220992, 2.32645068,
       1.76444869, 1.96571299, 2.15743872, 0.16482913, 0.29292449,
       0.13371445, 0.34848185, 1.36645587, 0.36155765, 0.24208429,
       1.62895098, 1.5050238 , 0.24771802])

In [36]:
from sklearn import metrics

# MSE - 에러율
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))

Mean Squared Error: 0.03842822667227796

In [39]:
#예측
test = pd.DataFrame({'sepal length': [3], 'sepal width': [3], 'petal length': [3]}).to_numpy () 
regressor.predict(test)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1.38505861])